Repository CUKCatSnap/CUKCATSNAP_Server: changes, and which Codecov flags are due for each by the changed paths.
All: gateway, authorization, mono, auth-shared

[REFACT] passport 만료 함수 private로 리팩토링
  authorization-shared/src/main/java/net/catsnap/shared/passport/domain/Passport.java
  authorization-shared/src/test/java/net/catsnap/shared/passport/domain/PassportTest.java
Due: none

[TEST] passport 버전을 하드코딩 하는 것이 아닌 상수로 리팩토링
  authentication/src/test/java/net/catsnap/CatsnapAuthorization/shared/fixture/PassportTestHelper.java
Due: none

[FEAT] passport 만료시 passport관련 예외를 authization 서버에 맞는 예외로 던짐
  authentication/src/main/java/net/catsnap/CatsnapAuthorization/shared/presentation/web/interceptor/AbstractAuthInterceptor.java
Due: none

[CHORE] 변수명 변경
  authentication/src/main/java/net/catsnap/CatsnapAuthorization/shared/presentation/web/interceptor/AbstractAuthInterceptor.java
  authentication/src/test/java/net/catsnap/CatsnapAuthorization/shared/fixture/PassportTestHelper.java
  authorization-shared/src/main/java/net/catsnap/shared/passport/domain/PassportHandler.java
  gateway/src/main/java/net/catsnap/CatsnapGateway/passport/application/PassportIssuer.java
Due: gateway

[TEST] 테스트 함수 변경
  authorization-shared/src/test/java/net/catsnap/shared/passport/infrastructure/BinaryPassportHandlerTest.java
Due: none

[CHORE] 주석 변경
  gateway/src/main/java/net/catsnap/CatsnapGateway/passport/application/PassportIssuer.java
Due: gateway

[CHORE] 불필요한 테스트 삭제
  authorization-shared/src/test/java/net/catsnap/shared/passport/domain/PassportTest.java
Due: none

[REFACT] 만기 확인은 passport에서 진행
  authorization-shared/src/main/java/net/catsnap/shared/passport/infrastructure/BinaryPassportHandler.java
Due: none

[REFACT] passport를 바이너리로 변경할 때, class 필드 순서에 맞게 변경
  authorization-shared/src/main/java/net/catsnap/shared/passport/infrastructure/BinaryPassportHandler.java
Due: none

[TEST] 테스트 properties 변경
  authentication/src/test/resources/application.yml
  gateway/src/test/resources/application.yml
Due: gateway

[REFACT] passport 파싱 시, passport 클래스 필드 순서에 맞게 파싱
  authorization-shared/src/main/java/net/catsnap/shared/passport/infrastructure/BinaryPassportHandler.java
Due: none

[TEST] 테스트 코드 수정
  authorization-shared/src/test/java/net/catsnap/shared/passport/infrastructure/BinaryPassportHandlerTest.java
Due: none

[CHORE] 주석 변경
  authorization-shared/src/main/java/net/catsnap/shared/passport/infrastructure/BinaryPassportHandler.java
Due: none

[FEAT] 리프레시 토큰으로 엑세스 토큰 발행
  authentication/src/main/java/net/catsnap/CatsnapAuthorization/session/application/SessionService.java
  authentication/src/main/java/net/catsnap/CatsnapAuthorization/session/application/dto/request/TokenRefreshRequest.java
  authentication/src/main/java/net/catsnap/CatsnapAuthorization/session/application/dto/response/TokenRefreshResponse.java
Due: none

[TEST] 리프레시 토큰으로 엑세스 토큰 발급 로직 테스트
  authentication/src/main/java/net/catsnap/CatsnapAuthorization/session/domain/LoginSession.java
  authentication/src/test/java/net/catsnap/CatsnapAuthorization/session/application/SessionServiceTest.java
Due: none

[FEAT] 엑세스 토큰 제발급 API 작성
  authentication/src/main/java/net/catsnap/CatsnapAuthorization/session/presentation/SessionController.java
  authentication/src/test/java/net/catsnap/CatsnapAuthorization/session/presentation/SessionControllerTest.java
Due: none

Update authentication/src/main/java/net/catsnap/CatsnapAuthorization/session/application/SessionService.java
  authentication/src/main/java/net/catsnap/CatsnapAuthorization/session/application/SessionService.java
Due: none

[CHORE] 주석 설명 변경
  authentication/src/main/java/net/catsnap/CatsnapAuthorization/session/application/SessionService.java
Due: none

[FEAT] 리프레시 토큰이 없을 경우 도메인 예외가 아닌 시큐리티 예외 발생'
  authentication/src/main/java/net/catsnap/CatsnapAuthorization/session/application/SessionService.java
  authentication/src/test/java/net/catsnap/CatsnapAuthorization/session/presentation/SessionControllerTest.java
Due: none

[TEST] 에러 코드 변경으로 테스트 코드 변경
  authentication/src/test/java/net/catsnap/CatsnapAuthorization/session/application/SessionServiceTest.java
Due: none

[REFACT] 모델 회원가입 Mono 레포에서 제거
  mono/src/main/java/net/catsnap/domain/auth/controller/MemberAuthController.java
  mono/src/main/java/net/catsnap/domain/auth/service/MemberAuthService.java
  mono/src/test/java/net/catsnap/domain/auth/service/MemberAuthServiceTest.java
Due: mono

[REFACT] 리프레시 토큰으로 엑세스 토큰 발급하는 로직 Mono레포에서 제거
  mono/src/main/java/net/catsnap/domain/auth/controller/RefreshTokenController.java
  mono/src/main/java/net/catsnap/global/security/SecurityConfig.java
  mono/src/main/java/net/catsnap/global/security/filter/RefreshAccessTokenFilter.java
Due: mono

[FEAT] photograher 엔티티 정의
  authentication/src/main/java/net/catsnap/CatsnapAuthorization/photographer/domain/Photographer.java
  authentication/src/main/java/net/catsnap/CatsnapAuthorization/photographer/domain/vo/Name.java
  authentication/src/main/java/net/catsnap/CatsnapAuthorization/photographer/infrastructure/converter/NameConverter.java
Due: none

[TEST] photographer 엔티티 테스트 코드 작성
  authentication/src/test/java/net/catsnap/CatsnapAuthorization/photographer/domain/PhotographerTest.java
  authentication/src/test/java/net/catsnap/CatsnapAuthorization/photographer/domain/vo/NameTest.java
  authentication/src/test/java/net/catsnap/CatsnapAuthorization/photographer/infrastructure/converter/NameConverterTest.java
Due: none

[FEAT] photographer 회원가입 API 개발
  authentication/src/main/java/net/catsnap/CatsnapAuthorization/photographer/application/PhotographerService.java
  authentication/src/main/java/net/catsnap/CatsnapAuthorization/photographer/dto/request/PhotographerSignUpRequest.java
  authentication/src/main/java/net/catsnap/CatsnapAuthorization/photographer/infrastructure/PhotographerRepository.java
  authentication/src/main/java/net/catsnap/CatsnapAuthorization/photographer/presentation/PhotographerController.java
Due: none

[TEST] photographer 회원가입 테스트 코드 작성
  authentication/src/test/java/net/catsnap/CatsnapAuthorization/photographer/application/PhotographerServiceTest.java
  authentication/src/test/java/net/catsnap/CatsnapAuthorization/photographer/fixture/PhotographerTestFixture.java
  authentication/src/test/java/net/catsnap/CatsnapAuthorization/photographer/infrastructure/PhotographerRepositoryTest.java
  authentication/src/test/java/net/catsnap/CatsnapAuthorization/photographer/presentation/PhotographerControllerTest.java
Due: none

[REFACT] 전화번호도 엄격한 체크 완료
  authentication/src/main/java/net/catsnap/CatsnapAuthorization/model/dto/request/ModelSignUpRequest.java
  authentication/src/main/java/net/catsnap/CatsnapAuthorization/photographer/dto/request/PhotographerSignUpRequest.java
Due: none

[CHORE] 주석 설명 가독성 향상
  authentication/src/main/java/net/catsnap/CatsnapAuthorization/photographer/application/PhotographerService.java
  authentication/src/test/java/net/catsnap/CatsnapAuthorization/photographer/fixture/PhotographerTestFixture.java
  authentication/src/test/java/net/catsnap/CatsnapAuthorization/photographer/infrastructure/PhotographerRepositoryTest.java
Due: none

[FEAT] 작가의 로그인 API 개발:
  authentication/src/main/java/net/catsnap/CatsnapAuthorization/photographer/application/PhotographerService.java
  authentication/src/main/java/net/catsnap/CatsnapAuthorization/photographer/dto/request/PhotographerLoginRequest.java
  authentication/src/main/java/net/catsnap/CatsnapAuthorization/photographer/presentation/PhotographerController.java
Due: none

[TEST] 작가 로그인 테스트 코드 작성
  authentication/src/test/java/net/catsnap/CatsnapAuthorization/photographer/application/PhotographerServiceTest.java
  authentication/src/test/java/net/catsnap/CatsnapAuthorization/photographer/presentation/PhotographerControllerTest.java
Due: none

[REFACT] 작가의 회원가입 Mono 래포에서 제거
  mono/src/main/java/net/catsnap/domain/auth/controller/PhotographerAuthController.java
  mono/src/main/java/net/catsnap/domain/auth/service/PhotographerAuthService.java
  mono/src/test/java/net/catsnap/domain/auth/service/PhotographerAuthServiceTest.java
Due: mono

[REFACT] 작가의 로그인 mono 레포에서 제거
  mono/src/main/java/net/catsnap/domain/auth/controller/PhotographerAuthController.java
  mono/src/main/java/net/catsnap/global/security/SecurityConfig.java
  mono/src/main/java/net/catsnap/global/security/filter/SignInAuthenticationFilter.java
Due: mono

[TEST] 공휴일 테스트 코드 삭제
  mono/src/test/java/net/catsnap/domain/reservation/client/HolidayClientTest.java
Due: mono

[FEAT] 예약 서버 작성 완료
  reservation/build.gradle
  reservation/gradlew
  reservation/gradlew.bat
  reservation/src/main/java/net/catsnap/reservation/ReservationApplication.java
  reservation/src/test/java/net/catsnap/reservation/ReservationApplicationTests.java
  settings.gradle
Due: none

[FEAT] reservation서버 ci 파이프 라인 작성
  .github/workflows/ci.yml
  .github/workflows/test-reservation.yml
Due: none

[CICD] reservation서버 CD 로직 작성
  .github/workflows/cd.yml
  .github/workflows/deploy-reservation.yml
Due: none

[FEAT] k8s 매니페스트 작성
  infrastructure/k8s/reservation/deployment.yaml
  infrastructure/k8s/reservation/service.yaml
Due: none

[DOCS] 리드미에 reservation 테스트 코드 커버리지 추가
  readme.md
Due: none

[CICD] docekr 빌드 파일 추가
  reservation/Dockerfile
Due: none

[FEAT] JPA 관련 의존성 추가
  reservation/build.gradle
Due: none

Path conditions:
  gateway: any of: gateway/
  authorization: any of: authorization/
  mono: any of: mono/
  auth-shared: any of: auth-shared/
